body {
    text-align: center;
}

#flipButton {
    font-family: arial;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    background-color:rgb(37, 153, 255);
    width: 100px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: lightgrey 0px 1px;
    user-select: none;
}

#gameStatus {
    display: inline-block;
    font-family: arial;
    color: black;
    font-size: 18px;
    user-select: none;
}

#board {
    background-image: url("chessboard.png");
    background-size: cover;
    display: inline-block;
}

#board > * {
    position: absolute;
}

.moveDisplay {
    background-color: rgba(20, 61, 85, 0.4);
    cursor: pointer;
    z-index: 2;
}

.selDisplay {
    background-color: rgba(20, 61, 85, 0.05);
}

.promoteDisplay {
    background-color: rgba(152, 56, 255, 0.4);
    cursor: pointer;
    z-index: 3;
}

.promotionOverlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.checkDisplay {
    background-color: rgba(255, 56, 56, 0.4);
}

.piece {
    cursor: pointer;
    z-index: 1;
}

.piece.disabled {
    cursor: default;
}

.black.king {
    background-image: url("pieces/black/king.png");
}

.black.queen {
    background-image: url("pieces/black/queen.png");
}

.black.bishop {
    background-image: url("pieces/black/bishop.png");
}

.black.knight {
    background-image: url("pieces/black/knight.png");
}

.black.rook {
    background-image: url("pieces/black/rook.png");
}

.black.pawn {
    background-image: url("pieces/black/pawn.png");
}

.white.king {
    background-image: url("pieces/white/king.png");
}

.white.queen {
    background-image: url("pieces/white/queen.png");
}

.white.bishop {
    background-image: url("pieces/white/bishop.png");
}

.white.knight {
    background-image: url("pieces/white/knight.png");
}

.white.rook {
    background-image: url("pieces/white/rook.png");
}

.white.pawn {
    background-image: url("pieces/white/pawn.png");
}
